.list{
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	background-color: #22b573;
	font-size: 48pt;
	padding-left: 40pt;
	padding-top: 40pt;
	font-family: 'Myriad Pro';
}
.container{
	width: 1486px;
	height: 1000px;
	margin:  40px auto;
	background-color: #22b573;
	border: 5px solid #006837;
	position: relative;
}
.img{
	float: right;
	padding-right: 50px;
	padding-top: 50px; 
	height: 660;
	
}
.abs{
	
	background-color: #fff;
	position: fixed;
	width: 658px;
	height:492px;
	bottom: 0px;
	left: 0px;
	z-index: 30px;


}
.box2{
	background-color: #006837;
	position: absolute;
	height: 300px;
	width:300px;
	top: 72px;
	left: 141px;
	z-index: 40;

}
.text{
	transform: rotateZ(45deg);
    position: absolute;
    top: 180px;
    color: #FCEE21;
    left: 37px;
    font-size: 30pt;
    z-index: 45;
    text-transform: uppercase;
    font-family: 'Myriad Pro';
}


.text1 {
	text-transform: uppercase;
	color: #FCEE21;
	font-size: 14pt;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-family: 'Myriad Pro';

}


}
.text11{
	bottom: 0;
}
.read{
	color: #39B54A;
	position: absolute;
	z-index: 45;
	font-size: 14pt;
	bottom: 10px;
	right: 10px;
	text-transform: uppercase;
	font-family: 'Myriad Pro';
}